@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

body {
    font-family: 'Roboto', sans-serif;
}

#main {
    margin-top: 50px;
    text-align: center;
}

#background {
    display: inline-block;
    width: 50%;
    height: 50%;
}
#explore {
    content: '  ';
	height: 0;
    width: 0;
    margin-left: 20px;
	border: 19px solid transparent;
    border-left-color: blue;
    display: inline-block;
    position: absolute;
} 
#current-floor {
    display: inline-block;
    padding: 10px;
    width: 30%;
    background: blue;
    color: white;
}
#class-icon {
    position: absolute;
    display: inline-block;
    height: 59px;
    width: 59px;
    margin-top:20px;
    background: orange;
}
#name-plate {
    display: inline-block;
    padding: 20px;
    width: 55%;
    margin-top: 20px;
    background: yellow;
}
#class-image {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: gray;
}
#next-boss {
    display: inline-block;
    padding: 20px;
    width: 70%;
    margin-bottom: 20px;
    border: 1px solid black;
    background: darkslategray;
    color: white;
}
#warning {
    color: darkred;
    font-size: 12px;
}

.Modal, .char-modal {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    ". header ."
    ". classname ."
    "arrowl image arrowr"
    ". weapon ."
    ". weaponheader accept";
    align-items: center;
    justify-items: center;
    color: gray;
}

.Modal, .class-header {
    grid-area: header;
}

.Modal, #class-names {
    color: purple;
    grid-area: classname;
}

.Modal, #class-arrow-left {
    display: none;
    grid-area: arrowl;
    color: orange;
    font-size: 500%;
}

.Modal, #class-arrow-left:hover {
    cursor: pointer;
    color: orangered;
}

.Modal, #image {
    grid-area: image;
    background: gray;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.Modal, #class-arrow-right {
    grid-area: arrowr;
    color: orange;
    font-size: 500%;
} 

.Modal, #class-arrow-right:hover {
    cursor: pointer;
    color: orangered;
}

.Modal, .weapon-header {
    grid-area: weaponheader;
}

.Modal, #weapon-name {
    grid-area: weapon;
}

.Modal, #button-accept {
    grid-area: accept;
    color: white;
    background-color: royalblue;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    font-size: 125%;
    border: none;
}

.Modal, #button-accept:focus {
    outline: 0;
}

.Modal, #button-accept:hover {
    cursor: pointer;
}